body, html {
	margin: 0;
	padding: 0;
	transition-duration: 2.5s;
	height: 100%;
}

#nav-placeholder {
  	width: 100%;
  	max-width: 800px;
  	margin: 0 auto;
}
#nav-placeholder object {
  	width: 100%;
}

#container {
	margin: 30px auto;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #FEFEFE;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}

#wind-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#wind {
    margin-right: 1em;
}

#arrow {
	transition-duration: 4s;
	height: 1.5em;
	width: 1.5em;
}