body {
	transition-duration: 4s;
}

#container {
	width: 500px;
	margin: 30px auto;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	cursor: default;
	user-select: none;
	color: #FEFEFE;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}
